{% extends "layouts/base.njk" %}

{% block content %}
  <main class="flex-grow px-6">
    <div class="container mx-auto py-20">
      <div class="flex flex-wrap -mx-8">
        <div class="w-full md:w-1/4 px-8">
          {% include "sidebar.njk" %}
        </div>
        <div class="markdown w-full md:w-3/4 px-8">
          <h1 class="text-3xl text-gray-900">{{ title }}</h1>
          {{ content | safe }}
        </div>
      </div>
    </div>
  </main>
{% endblock %}
