{{ define "main" }}
<section class="single">
  <div class="container">
    <div class="lead column is-10 is-offset-1">
      <h1 class="title">
        <span>{{ .Title }}</span>
        {{ if index (.Params.source) 0 }}
          {{ $sized := readFile (printf "%s.gz" (replaceRE "src/(.*).js" "dist/$1.min.js" (index (.Params.source) 0))) }}
          <span class="tags has-addons is-inline-flex">
            <span class="tag is-dark">gzip</span>
            <span class="tag is-success">{{- div (len $sized) 1000.0 | lang.NumFmt 2 }} kB</span>
          </span>
        {{ end }}
      </h1>
      <article>
        {{ if .Params.page }}
          {{ partial .Params.page . }}
        {{ else }}
          <!-- Render content normally -->
        {{ end }}

        {{ .Content }}

        <div class="section">
          <div class="box">
            <div class="{{ .Params.class }}"></div>
            <script src="../../{{ (replaceRE "src/(.*).js" "dist/$1.min.js" (index (.Params.source) 0)) }}"></script>
          </div>
        </div>

        {{ if .Params.source }}
          <div class="source-code">
            <!-- CODE EXAMPLE ———————————————————————————————————————— -->
            {{ $githubSite := .Site.Params.GithubSite }}
            {{- range $i, $s := .Params.source -}}
              <div class="columns is-vcentered">
                <div class="column">
                  {{ if (eq $i 0) }}
                    <h2 class="title">Source code</h2>
                  {{ end }}
                </div>
                <div class="column is-narrow">
                  <div class="tags">
                    <span class="tag">
                      <a href="{{$githubSite}}/tree/master/content/{{$s}}">{{$s}}</a>
                    </span>
                  </div>
                </div>
              </div>
              <pre class="code-example content"><code class="code-example-body language-js">
                {{- readFile $s -}}
              </code></pre>
            {{ end }}
          </div>
        {{ end }}
      </article>
    </div>
  </div>
</section>
{{ end }}
