{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="columns is-variable is-8">
      <div class="column is-one-quarter">
        {{- partial "sidebar.html" . -}}
      </div>
      <div class="column content">
        <div class="columns is-gapless is-marginless is-vcentered">
          <div class="column">
            <h1>{{ .Title }}</h1>
          </div>
          <div class="column">
            <span class="is-pulled-right is-size-7">
              <i class="fab fa-github"></i>
              <a class="has-text-dark" href="{{.Site.Params.GithubSite}}/edit/master/content/{{.File.Path}}">Edit on Github</a>
            </span>
          </div>
        </div>
        {{- .Content -}}
      </div>
    </div>
  </div>
</section>

{{ end }}
