.DS_Store
node_modules
*.sublime-project
*.code-workspace
yarn-error.log
.nyc_output/
coverage
*.lcov

/site/public/
dist
module
!/bench/css/bootstrap/dist/

/bench/results/results.json
/bench/yarn.lock
/bench/trace.json

/packages/sinuous/observable/test/perf/perf.txt
!/bench/results/dist/
