/*@media screen and (min-width: 769px) {
  .menu.is-pinned {
    width: inherit;
    position: fixed;
    top: 100px;
  }
}*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.section {
  flex: 1;
}

.navbar-brand i.navbar-icon,
.navbar-brand svg.navbar-icon {
  display: inline-block;
  width: 1.25em;
  margin-right: 5px;
}

.menu-label svg.fa-fw,
.menu-label i.fa-fw {
  display: inline-block;
  width: 1.25em;
  margin-right: 1px;
  position: relative;
  top: -1px;
}

.bd-tw-button {
  background-color: #55acee;
  color: #fff;
  border-color: transparent!important;
}

.menu-list a {
  position: relative;
}

.menu-list a.is-loading::after {
  border-color: transparent transparent #fff #fff!important;
}

.menu-list a.is-loading::after {
  position: absolute;
  right: 1em;
  top: calc(50% - (1em / 2));
  position: absolute!important;
}

.menu-list a.is-loading::after {
  -webkit-animation: spinAround .5s infinite linear;
  animation: spinAround .5s infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
}
