
$body-line-height: 1.6;
$section-padding: 5rem 1.5rem;
$navbar-height: 4rem;

@import '../../themes/default/assets/sass/bulma.sass';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.section {
  flex: 1;
}

.column {
  min-width: 0;
}

.hero {
  position: relative;
  overflow: hidden;
  border-bottom: 2px #f5f5f5 solid;
}

.hero-body .container {
  padding-left: 4rem;
}

.hero-icon {
  z-index: -1;
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translate(0, -50%);
  svg {
    width: 360px;
    height: auto;
    path:nth-last-child(2) {
      fill: rgba(120, 255, 185, 0.15);
    }
    path:nth-last-child(1) {
      fill: rgba(255, 255, 255, 0.45);
      fill-opacity: 1;
    }
  }
}

.snippet-code pre {
  max-height: 360px;
  overflow: scroll;
}

.logo {
  width: auto;
  height: 28px;
  margin-top: -3px;
}

.navbar-start .navbar-item {
  font-size: 1.2rem;
  padding: 0.5rem 1.25rem;
}

.navbar-brand {
  padding-right: 2.5rem;
}

.lead {
  padding: 3rem;
}

.lead > .title {
  margin: 2em 1em;
  text-align: center;
  font-size: 2rem;
}

.snippet {
  position: relative;
  border: 2px solid #f5f5f5;
  border-radius: 8px;
}

.snippet > div {
  min-width: 0;
}

.snippet-preview {
  padding: 1.5rem;

  button {
    @extend .button;
  }

  label {
    @extend .label;
  }

  input {
    @extend .field;
    @extend .input;
  }
}

.example:not(:last-child) {
  margin-bottom: 4rem !important;
}

.snippet-code {
}

.source-code {
  margin-top: 8rem;
}

pre.code-example {
  padding: 1.5em;
  position: relative;
  z-index: 11;
}

code.code-example-body {
  background: none;
  padding: 0;
  border: none;
}

.snippet-tag {
  background: #ffdd57;
  border-radius: 2px 2px 0 0;
  color: rgba(0,0,0,.7);
  display: inline-block;
  font-size: 7px;
  font-weight: 700;
  left: 6px;
  bottom: calc(100% - 1px);
  letter-spacing: 1px;
  margin-left: -1px;
  padding: 3px 5px;
  position: absolute;
  text-transform: uppercase;
  vertical-align: top;
  z-index: 10;
}

.content .tag, .content .number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}

.title .tags {
  vertical-align: 0.21em;
  margin-left: 5px;
}
