# dependencies installed by npm
node_modules/

# build artefacts
public/
src/_includes/css/
.cache/

# secrets and errors
.env
yarn-error.log

# macOS related files
.DS_Store
.AppleDouble
.LSOverride
