<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{.Title}}</title>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {{- $css := resources.Get "/scss/custom.scss" | toCSS | minify | fingerprint -}}
  <link rel="stylesheet" href="{{ $css.Permalink }}">
  <link rel="stylesheet" href="/css/prism.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://kit.fontawesome.com/0a4853ec71.js" crossorigin="anonymous"></script>

  {{- $prism := resources.Get "js/prism.js" -}}
  {{ $prismTemplates := resources.Get "js/prism-js-templates.js" }}
  {{ $site := resources.Get "js/site.min.js" }}
  {{ $js := slice $prism $prismTemplates $site | resources.Concat "js/bundle.js" | minify | fingerprint -}}
  <script src="{{ $js.Permalink }}"></script>
  {{ $sourcemap := resources.Get "js/site.min.js.map" -}}
  <!-- {{ $sourcemap.Permalink }} -->
</head>
