<footer class="p-4 bg-gray-200">
  <div class="container mx-auto text-center text-gray-500">
    <p>
      <strong>Sinuous</strong> by <a class="underline" href="https://wesleyluyten.com">Wesley Luyten</a>. The source code is licensed
      <a class="underline" href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>
  </div>
</footer>
