{{ define "main" }}
<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-1">
        {{- .Params.herotitle -}}
      </h1>
      <h1 class="subtitle">
        {{- .Params.subtitle -}}
      </h1>
      <div class="buttons">
        <a class="button" href="{{ relref . "/introduction/getting-started.md" }}">Get Started</a>
      </div>
    </div>
    <div class="hero-icon">
      {{- $icon := .Params.icon -}}
      {{- if $icon -}}
        {{- readFile $icon | safeHTML -}}
      {{- end -}}
    </div>
  </div>
</section>

{{- .Content -}}

<section class="section">
  <div class="container">
    {{ range first 3 (where $.Site.RegularPages "Section" "examples") }}
      <div class="example columns">
        <div class="column is-one-third">
          <div class="content">
            <h2>{{ .Title }}</h2>
            {{ .Content }}
          </div>
        </div>
        <div class="column">
          <div class="snippet columns is-gapless">
            {{ if index (.Params.source) 0 }}
              {{ $sized := readFile (printf "%s.gz" (replaceRE "src/(.*).js" "dist/$1.min.js" (index (.Params.source) 0))) }}
              <div class="snippet-tag">
                {{- div (len $sized) 1000.0 | lang.NumFmt 2 }} kB
              </div>
              <div class="snippet-code column is-two-thirds">
                <pre class="code-example content"><code class="code-example-body language-js">
                  {{- readFile (index (.Params.source) 0) -}}
                </code></pre>
              </div>
            {{ end }}
            <div class="column">
              <div class="snippet-preview content column">
                <div class="{{ .Params.class }}"></div>
                <script src="{{ (replaceRE "src/(.*).js" "dist/$1.min.js" (index (.Params.source) 0)) }}"></script>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</section>

{{ if .Params.bottom }}
  {{ partial .Params.bottom . }}
{{ end }}

{{ end }}
